<h1>Listagem de Qualificações </h1>
<table>
  <tr>
    <th>Cliente</th>
    <th>Restaurante</th>
    <th>Nota</th>
    <th>Valor Gasto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @qualificacoes.each do |qualificacao| %>
    <tr>
      <td><%= link_to qualificacao.cliente.nome, cliente_path(qualificacao.cliente_id) %></td>
      <td><%= link_to qualificacao.restaurante.nome, restaurante_path(qualificacao.restaurante_id) %></td>
      <td><%= qualificacao.nota %></td>
      <td><%= valor_formatado(qualificacao.valor_gasto) %></td>
      <td><%= link_to 'Mostrar', qualificacao %></td>
      <td><%= link_to 'Editar', edit_qualificacao_path(qualificacao) %></td>
      <td><%= link_to 'Excluir', qualificacao, method: :delete, data: { confirm: 'Confirma exclusão?' } %></td>
    </tr>
  <% end %>
</table>
<br/>
<%=  %>
<%= link_to 'Novo', {action: 'new'} %>