<!DOCTYPE html>
<html>
<head>
  <title>Programa de Restaurante</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <table rules="all" align="left" frame="box" bgcolor="#D8D8D8" width="1500" >
    <thead>
      <tr>
        <th>
          <%= menu_principal %>
        </th>
      </tr>
    </thead>
  </table>
<br>
<br>
<br>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>
<%= yield %>
<script type="text/javascript">
  <%=yield :js %>
</script>
</body>
</html>
